/* Helper classes */
.action-btn {
  cursor: pointer;
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
  overflow: hidden;
}

.pointer-e-none {
  pointer-events: none;
}
