*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Fira Code Regular";
  src: url("../fonts/fira_code/FiraCode-Regular.ttf");
}
@font-face {
  font-family: "Fira Code Bold";
  src: url("../fonts/fira_code/FiraCode-Bold.ttf");
}

body {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Fira Code Regular", sans-serif;
  overflow: hidden;
}

:root {
  --overlay-color: rgba(20, 65, 124, 0.77);
  --primary-color: #4162f6;
  --green-circle: #00b400;
  --border-color: rgba(0, 0, 0, 0.1);

  /* Transitions */
  --transition-duration: 0.25s;
  --transition-style: linear;

  /* Mozilla firefox Scrollbar */
  scrollbar-color: var(--primary-color) var(--overlay-color);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcfcfc;
  max-width: 400px;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100vh;
  margin: auto;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  > .header__overlay {
    position: absolute;
    width: 100%;
    height: 11rem;
    background-color: rgba(0, 0, 0, 0.5);
  }

  > header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    > .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
      height: 11rem;
      margin: auto;

      > nav {
        display: flex;
        justify-content: space-between;
        max-height: 5rem;
        width: 95%;
        margin-top: 1.5rem;

        > .hamburger-menu {
          cursor: pointer;
          position: relative;
          height: 1.5rem;
          width: 2rem;
          z-index: 4;

          > .hamburger-lines {
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: #fff;
            transform-origin: right;

            &::before {
              transition-duration: 0.15s;
            }

            &::before,
            &::after {
              content: "";
              width: 100%;
              height: 2px;
              background-color: inherit;
              position: inherit;
              top: 0.65rem;
            }

            &::after {
              top: 1.25rem;
            }
          }

          &.active {
            .hamburger-lines {
              transform: rotate(-45deg);

              &::before {
                transform: translateY(-0.65rem);
                opacity: 0;
              }

              &::after {
                transform: rotate(90deg) translateX(-1.25rem);
              }
            }
          }
        }

        > .reset {
          width: 1.5rem;
          height: 1.5rem;
          z-index: 1;

          > .action-btn {
            path {
              fill: #d2d2d2;
            }
            &:hover path {
              fill: #fff;
            }
          }
        }
      }

      > h2 {
        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto 0.35rem;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0.2rem 0.5rem;
        border-radius: 0.3rem;
        z-index: 1;
      }
    }
  }

  > aside {
    > .menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;
      pointer-events: none;

      > .overlay {
        background-image: linear-gradient(
          to bottom right,
          rgba(65, 98, 246, 0.5),
          rgba(20, 65, 124, 0.5)
        );
        background-color: var(--overlay-color);
        border-radius: 2rem;
        height: 100%;
        width: 100%;
        padding-top: 2rem;
        display: flex;
        flex: none;
        justify-content: center;
        align-items: flex-start;
        transform: translateY(150%);
        transition-duration: 2s;
        opacity: 0;
        z-index: 3;

        &.active {
          transform: translateY(73%);
          transition-duration: 0.7s;
          opacity: 1;
          pointer-events: all;
        }
      }

      > div > .select-view > li {
        cursor: pointer;
        list-style: none;
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
        text-transform: uppercase;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  > main {
    flex: 1;
    overflow-x: hidden;

    .tasks {
      margin: 0.7rem 1rem 0;
      overflow: hidden;

      .task {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        list-style: none;
        font-size: 1.3rem;
        border-bottom: 1px solid var(--border-color);

        &:last-of-type {
          border-bottom: 0;
          margin-bottom: 0;
        }

        > .fa-check-circle,
        .fa-circle:hover {
          color: var(--green-circle);
        }

        & > .options {
          .edit-icon *,
          .pin-icon *,
          .trash-icon * {
            pointer-events: none;
          }

          > .edit-icon {
            path {
              fill: #555;
            }
            &:hover path {
              fill: var(--green-circle);
            }
          }

          > .pin-icon {
            path {
              fill: #555;
            }
            &:hover path {
              fill: var(--primary-color);
            }
          }

          > .trash-icon {
            path {
              fill: #555;
            }
            &:hover path {
              fill: #b40000;
            }
          }
        }

        > p {
          width: 12rem;
          overflow: hidden;
          text-overflow: ellipsis;
          &.line-through {
            color: #d2d2d2;
            text-decoration: line-through;
          }
        }
      }
    }
  }

  > footer {
    position: relative;
    width: 100%;
    border-top: 1px solid var(--border-color);

    form {
      display: flex;
      justify-content: space-around;

      > .add-btn {
        position: absolute;
        left: 1rem;
        top: 1rem;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        outline: none;
        border: none;
        background-color: transparent;

        > .action-btn {
          path {
            fill: var(--primary-color);
          }
        }
      }

      > .task-input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1rem;
        padding-left: 3.5rem;

        &::-webkit-input-placeholder {
          color: var(--primary-color);
        }
      }
    }
  }
}

@import "transitions";
@import "helper-classes";
