@use '../variables/colors' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

:root {
  /* Mozilla firefox Scrollbar */
  scrollbar-color: $primary_color $light_color;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  $container_width: 25rem;
  width: $container_width;
  max-width: $container_width;
  background-color: $light_color;
  overflow-x: hidden;
}

.upper {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

button {
  border: none;
  background: unset;
}
