@use '../variables/colors' as *;
@use '../variables/spacing' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

:root {
  /* Mozilla firefox Scrollbar */
  scrollbar-color: $primary_color $light_color;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: darken($light_color, 5%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $container_width;
  min-width: $container_width;
  max-width: $container_width;
  height: 90vh;
  max-height: $container_width * 2;
  background-color: $light_color;
  overflow: hidden;
  border-radius: 1.5em;
}

.upper {
  text-transform: uppercase;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

button {
  border: none;
  background: unset;
}
