@use '../variables/colors' as *;
@use '../variables/spacing' as *;

.notification {
  position: fixed;
  width: $container_width;
  max-width: $container_width;
  height: $notification_height;
  max-height: $notification_height;
  z-index: 10;

  &__txt {
    background-color: lighten($primary_color, 10);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    user-select: none;
    word-spacing: 0.5rem;
    padding: 0.5rem 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 250ms linear;

    &.active {
      opacity: 1;
      transform: translateY(0);
    }

    &.green {
      background-color: $green_color;
    }

    &.red {
      background-color: $red_color;
    }
  }
}
