@use '../variables/colors' as *;

.todo {
  $todo_height: 15rem;
  flex: 1;
  height: $todo_height;
  max-height: $todo_height * 2;
  overflow-x: scroll;

  .items {
    list-style: none;

    .item {
      $icon_size: 1.88rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;

      &::before {
        content: '';
        width: $icon_size;
        height: $icon_size;
        display: flex;
        justify-content: center;
        margin-right: -1.75rem;
        border: 1px solid rgba($dark_color, 0.5);
        border-radius: 50%;
        overflow: hidden;
      }

      &.checked {
        text-decoration: line-through from-font;

        .item__text {
          flex: 1;
          opacity: 0.35;
          margin-left: $icon_size - 0.5;
          max-width: 11rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      &:hover,
      &.checked {
        &::before {
          content: url('../imgs/icons/green__check.svg');
        }
      }

      &:not(.checked)::before {
        opacity: 0.35;
      }

      .options {
        display: flex;
        gap: 0.5rem;

        .edit,
        .pin,
        .delete {
          display: flex;

          &:hover {
            svg {
              path {
                fill: $dark_color;
              }
            }
          }
        }
      }
    }
  }
}
